<h1>Top page</h1>
<%= link_to '新規投稿', '/posts/new' %>
<% @posts.each do |post| %>
  <div class="post">
    <div class="post-date">
      投稿日時：<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
  </div>
<% end %>
<%# <%= @post.content %>  
<%# @postは特定のカラムを指定している=単数レコード %> 
<%# <%= @post.created_at %> 
<%#ブラウザには表示させないタグ ＝なしを使う %>
<%# 複数レコードを使用する場合eachメソッドで表示する順番を決める %>